// Colors 
$mainColor: #0a192f;
$mainColorAlt: #171c5e;
$text: #9cc9e3;
$textAlt: #e4e6e7;
$dark: #0f1624;
$darkAlt: #101010;
$offLight: #ffffff80;

// transition
$transition: .3s;

// Spacing
$padding: 60px 0px;