// Colors
$mainColor: #212d45;
$mainColorAlt: #051c3f;
$text: #9cc9e3;
$textAlt: #e4e6e7;
$dark: #0f1624;
$darkAlt: #101010;
$offLight: #ffffff80;

// transition
$transition: 0.3s;

// Spacing
$padding: 60px 0px;
