@use "../helpers/variables" as *;

.skills {
  padding: $padding;
  background-color: $dark;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    .card {
      background-color: $mainColor;
      padding: 15px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      color: $textAlt;
      box-shadow: 0 0 10px $mainColor;
      font-weight: bold;
      img {
        width: 100px;
      }
    }
  }
}
