@use "./components/navbar";
@use "./components/home";
@use "./components/about";
@use "./components/skill";
@use "./components/project";
@use "./components/contact";
@use "./helpers/grid";
@use "./helpers/main-titel";
@use "./helpers/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
.portfolio {
  background-image: url("../assets/bg.png");
  background-attachment: fixed;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: $mainColorAlt;
}
::-webkit-scrollbar-thumb {
  background-color: $dark;
  border-radius: 5px;
}
