@use './components/navbar';
@use './components/home';
@use './components/about';
@use './components/skill';
@use './components/project';
@use './components/contact';
@use './helpers/grid';
@use './helpers/main-titel';
@use './helpers/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Space Grotesk', sans-serif !important;
  background-color: #0f1624;
  color: #737b85;
}

::-webkit-scrollbar {
  width: 0px;
}

.burger-icon {
  width: 40px;
  height: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.burger-icon span {
  background-color: #b6c0bf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  display: block;
  transition: 0.5s;
}

.burger-icon.close span:nth-child(1) {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  transform: rotate(45deg);
}

.burger-icon.close span:nth-child(2) {
  opacity: 0;
}

.burger-icon.close span:nth-child(3) {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  transform: rotate(-45deg);
}

.logo-image {
  width: 80px;
}

.nav-item {
  padding: 0 15px;
  a {
    padding: 10px 0;
    transition: $transition;
    color: #b6c0c0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    &::before {
      content: '';
      transition: $transition;
      height: 2px;
      background-color: #b6c0c0;
      width: 0;
      position: absolute;
      border-radius: 1px;
      bottom: 0;
      left: 0;
    }
    &:hover::before {
      width: 100%;
    }
    &.active {
      &::before {
        width: 100%;
      }
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    text-align: center;
  }
}

.icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  a {
    color: $textAlt;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: $transition;
    justify-content: center;
    &:hover {
      transform: scale(1.2);
    }
    &:first-child {
      background-color: #00a0dc;
    }
    &:nth-child(2) {
      background-color: #222;
    }
    &:nth-child(3) {
      background-color: #b7b7b7;
    }
    &:nth-child(4) {
      background-color: #333;
    }
  }
}

::-webkit-scrollbar-track {
  background-color: $mainColorAlt;
}
::-webkit-scrollbar-thumb {
  background-color: $dark;
  border-radius: 5px;
}
